@font-face {
    font-family: Muli;
    src: url(/src/fonts/Muli.ttf);
    font-weight: normal;
}


.containerService {
    padding-top: 192px;
    width: 1000px;
    margin: 0 auto;
}


.container_innerService {

    text-align: center;

}

.headerService {
    color: #000;
    font-family: Muli;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

.lineService {
    margin: 26px auto 33px;
    width: 56px;
    height: 2px;

    border-radius: 5px;
    background: #000;

}

.titleService {
    color: #7D7987;
    text-align: center;
    font-family: Muli;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 80px;
    /* 166.667% */
}


.rowCard {


    justify-content: center;
    display: flex;
    padding-bottom: 37px;

}

.card {
    margin: 0 17px;
    padding: 37px;
    width: 350px;
    height: 354px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;

    /* drop shadow */
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
}


.titleCard {
    padding-top: 25px;
    color: #000;
    font-family: Muli;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    /* 233.333% */
}

.subTitleCard {
    color: #7D7987;
    font-family: Muli;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    /* 175% */
}

.iconCard {
    width: 95px;
    height: 95px;
}

.learnMoreButton {

    margin-top: 72px;
   
    width: 200px;
    height: 56px;
    
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    background: #FFF;
    
   
    color: #458FF6;
    font-family: Muli;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.learnMoreButton:hover{
    background-color: #458FF6;
    border: 1.4px solid #FFF;
    color: #FFF;
}
.learnMore{
    text-align: center;
}

