@font-face {
    font-family: Muli;
    src: url(/src/fonts/Muli.ttf);
    font-weight: normal;
}

* {
    box-sizing: border-box;

}

.logo_and_title {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;

}

.logo {

    background-color: #458FF6;
    width: 41px;
    height: 41px;
    border-radius: 50%;
}

.logo_title {
    color: #FFF;

    font-family: Muli;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 17px;
    height: 32px;
    flex-shrink: 0;
    margin: 0px 13px;

}

.title {
    padding-left: 12px;
    color: #233348;
    font-family: Muli;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container {
    margin: 0 192px;
    margin-top: 40px;
}


.menu_inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li a {
    opacity: 0.5;
    text-decoration: none;

    color: var(--1f1534-hyfen, #1F1534);
    font-family: Muli;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding: 10px 25px;
}

.nav li a.first {
    opacity: 1;
    color: var(--1f1534-hyfen, #1F1534);
    font-family: Muli;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav li a:focus {

    opacity: 1;
    color: var(--1f1534-hyfen, #1F1534);
    font-family: Muli;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.illustartion {

    width: 693px;
    height: 598px;
    flex-shrink: 0;


}


.container2_inner {
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    margin-top: 75px;
    display: flex;
}

.description {
    margin-top: 106px;
    width: 427px;


}

.header1 {
    color: #000;

    font-family: Muli;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    /* 116.667% */

}

.descriptionText {
    color: #7D7987;
    padding-top: 0px;
    font-family: Muli;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    padding-bottom: 45px;
    /* 152.381% */
}

.consultButton {
    border-radius: 55px;
    background: #458FF6;
    color: #FFF;

    font-family: Muli;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 333.333% */
    border: 0px;
    padding: 0 40px;
}

.consultButton:hover {
    background: #FFF;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    color: #458FF6;
}