.sliderContainer {
    margin-bottom: 222px
}

.inner_sliderContainer {
    width: 1120px;
    height: 425px;
    flex-shrink: 0;
    margin: 266px auto 0;


    border-radius: 24px;
    background: linear-gradient(208deg, #67C3F3 9.05%, #5A98F2 76.74%);
    padding-top: 64px;

}

.sliderTitle {
    color: #FFF;
    font-family: Muli;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.sliderLine {
    width: 56px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FFF;
    margin: 25px auto 66px;
}

.sliderInfoPeople {
    display: flex;
    align-items: center;


}

.sliderPhoto img {
    margin-left: 118px;
    width: 141px;
    height: 141px;
    flex-shrink: 0;
    border: 5px solid white;
    border-radius: 50%;
}


.sliderName {
    width: 184px;
    height: 48px;
    color: #FFF;
    font-family: Muli;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin-left: 29px;
}

.sliderJob {
    color: rgba(255, 255, 255, 0.85);
    font-family: Muli;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-left: 29px;

}

.sliderDescription {

    width: 420px;
    color: rgba(255, 255, 255, 0.90);
    font-family: Muli;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 110px;
}


.slidarNavigation {
    text-align: center;
    padding-top: 47px;
}

.sliderDots{
    padding: 0 40px;
}




